@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Changa:wght@200..800&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ease: cubic-bezier(0.24,1,0.36,1);
    --duration: 0.4s;
    --transition: var(--duration) var(--ease);
    --transition-slow: 0.7s var(--ease);
}

@font-face {
    font-family: 'morganite-med';
    src:  url('./assets/fonts/Morganite-Medium.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
}

@font-face {
    font-family: 'morganite-semibold';
    src:  url('./assets/fonts/Morganite-SemiBold.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
}

@font-face {
    font-family: 'morganite-bold';
    src:  url('./assets/fonts/Morganite-Bold.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
}
@font-face {
    font-family: 'morganite-ExtraBold';
    src:  url('./assets/fonts/Morganite-ExtraBold.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
}

@font-face {
    font-family: 'charlottenburg-circles';
    src:  url('./assets/fonts/Charlottenburg_W-Circles.woff2') format('woff2');
          font-weight: normal;
          font-style: normal;
}

@font-face {
    font-family: 'charlottenburg-classic';
    src:  url('./assets/fonts/Charlottenburg_W-Classic.woff2') format('woff2');
          font-weight: normal;
          font-style: normal;
}

.morganite-med {
  font-family: 'morganite-med';
}
.morganite-semibold {
  font-family: 'morganite-semibold';
}
.morganite-bold {
  font-family: 'morganite-bold';
}
.morganite-extra-bold {
   font-family: 'morganite-ExtraBold';
}
.charlot-circles {
   font-family: 'charlottenburg-circles';
}
.charlot-classic {
   font-family: 'charlottenburg-classic';
}

/* ============= SCROLL BAR CUSTOMIZATION ============== */
/* This will style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #000;
}

/* This will style the actual scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #67e8f9;
  border-radius: 5px;
  height: 20px;
}

/* This will change the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #06b6d4;
}

/* This styles the overall scrollbar (width, height) */
::-webkit-scrollbar {
  width: 10px;
}

/*=========== MOTION TEXT ===========*/

@keyframes slideLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes rotateIcon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.rotating-icon {
  animation: rotateIcon 3s linear infinite;
}


.motion-text {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: slideLeft 10s linear infinite;
}

.motion-text2 {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: slideRight 30s linear infinite;
}

/* ========== SLIDING TEXT FROM LEFT & RIGHT ==========*/
@keyframes slideInTextFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTextFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.textSlidingLeft {
  animation: slideInTextFromLeft 1s ease-out forwards;
}

.textSlidingRight {
  animation: slideInTextFromRight 1s ease-out forwards;
}

/* =============== UP BUTTON ================ */
.hidden-btn {
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.5s cubic-bezier(.19, 1, .22, 1), transform 0.3s ease-in-out;
}

.visible-btn {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s cubic-bezier(.19, 1, .22, 1), transform 0.3s ease-in-out;
}

/* =============== PROJECT LIST SMOOTH OPENING ================ */
.project-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.project-content.expanded {
    max-height: 800px; /* A large enough value to ensure content fits */
    opacity: 1;
}

/* =============== ROTATING TEXT ================ */
.rotating-text-container {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #d4d4d8;
}

.rotating-text-container svg {
  position: absolute;
  top: 0;
  left: 0;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

/* ============ tOOLS BALLS BOUNCING EFFECT ============= */

.c-image img {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transform-origin: center left;
  transform: scale3d(1.2, 1.2, 1.2);
}

/* === CSS FOR 'COPIED' TEXT VISIBILITY IN CONTACT SECTION === */
.copiedTextVisible {
  visibility: visible;
  opacity: 1;
  transition: opacity 5s ease-in-out;
}

.copiedTextHidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out; /* Delay hiding until after fade */
}

.app-title {
    background: linear-gradient(135deg, rgba(252, 165, 165, 1) 0%, rgba(103, 232, 249, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@layer base {
    body {
        @apply w-full m-0 p-0 box-border rounded-2xl bg-zinc-950 font-inter
      }

    a {
      @apply cursor-pointer;
    }
}

@layer utilities {
    .text-logo {
      @apply text-zinc-50 text-[3.9rem] font-inter font-[400] tracking-wide uppercase
    }

    .text-small {
      @apply font-inter text-zinc-400 text-[1.2rem] font-[300]  tracking-wide
    }

    .text-small-darkx {
      @apply font-inter text-zinc-950 text-[1.2rem] font-[500]  tracking-wide
    }

    .text-xsmall {
      @apply font-inter text-zinc-400 text-[.8rem] sm:text-[1rem] lg:text-[1rem] font-[300] 
    }


    .text-xsmall-white {
      @apply font-inter text-zinc-300 text-[.8rem]  lg:text-[1rem] font-[400] uppercase
    }

    .text-xsmall-cyan {
      @apply font-inter text-cyan-300 text-[.8rem] sm:text-[.8rem]  lg:text-[1rem] font-[400] leading-[18px] uppercase
    }

    .text-xsmall-dark {
      @apply font-inter text-zinc-950 text-[.8rem] sm:text-[.8rem]  lg:text-[1rem] font-[500] leading-[18px] 
        hover:font-[600] uppercase
    }

    .text-xxsmall {
      @apply font-inter text-cyan-300 text-[.7rem] sm:text-[.9rem] 2xl:text-[.9rem] font-[400] tracking-wider uppercase
    }
   
    .text-xxsmall-min {
      @apply font-inter text-zinc-400  text-[.78rem] lg:text-[.88rem] font-[300] tracking-wider
    }

    .text-xxsmall-black {
      @apply font-inter text-zinc-950 text-[.7rem] font-[500] tracking-wider uppercase
    }

    .text-xxsmall-white {
      @apply font-inter text-zinc-50 text-[.7rem] sm:text-[.9rem] 2xl:text-[.9rem] font-[400] tracking-wider uppercase
    }
   

    .text-xxxsmall {
      @apply font-inter text-zinc-50 text-[.7rem] font-[400] tracking-wider uppercase
    }
    .text-xxxsmall-black {
      @apply font-inter text-zinc-950 text-[.7rem] lg:text-[.8rem] font-[500] tracking-wider uppercase
    }

    

    .text-small-purple {
      @apply font-inter text-violet-500 text-lg font-[500]  tracking-wide uppercase
    }
    
    /* ====== TITLES ====== */

    .title-h1 {
      @apply text-cyan-300 font-inter text-[1.24rem] sm:text-[1.48rem] md:text-[1.5rem] leading-[120px]
        2xl:text-[9.5rem] font-[400] uppercase -tracking-[.3rem]
    }
    .title-h1-w {
      @apply text-zinc-300 font-inter text-[1.24rem] sm:text-[1.48rem] md:text-[1.5rem] leading-[120px]
        2xl:text-[9.5rem] font-[400] uppercase -tracking-[.3rem]
    }

    .title-h1-thin {
      @apply text-cyan-300 font-inter text-[1.24rem] sm:text-[1.48rem] md:text-[1.5rem] leading-[120px]
        2xl:text-[9.5rem] italic font-[200] uppercase -tracking-[.3rem]
    }

    .title-h2{
      @apply text-zinc-50 font-inter text-[1.24rem] sm:text-[1.48rem] md:text-[1.5rem]  lg:leading-[60px]
        2xl:text-[3.6rem] font-[400] uppercase tracking-wider
    }

   .title-h2-mobile {
      @apply text-[1.2rem] text-zinc-300 uppercase
   }

    .title-thin {
      @apply text-cyan-300 font-inter text-[1.24rem] sm:text-[1.48rem] md:text-[1.5rem] leading-[60px]
        2xl:text-[4.102rem] font-[100] italic uppercase tracking-wider
    }
    
    .title-h2-thin {
      @apply text-zinc-300 font-inter text-[1.24rem] sm:text-[1.48rem] md:text-[1.5rem] leading-[60px]
        2xl:text-[3.6rem] font-[100] italic uppercase tracking-wider
    }

     .title-h3 {
      @apply text-zinc-50 font-inter text-[1.24rem] sm:text-[1.48rem] md:text-[1.5rem] leading-[45px]
        2xl:text-[2.5rem] font-[400] uppercase tracking-wider
    }
    .title-h3-thin {
      @apply text-zinc-50 font-inter text-[1.24rem] sm:text-[1.48rem] md:text-[1.5rem] leading-[45px]
        2xl:text-[2.5rem] font-[100] italic uppercase tracking-wider
    }

    .title-h4 {
      @apply morganite-bold text-[2.8rem] lg:text-[5.5rem] font-[600] uppercase tracking-wide  text-cyan-300 leading-[88%]
    }

    .title-h4-min {
      @apply morganite-bold text-[2.8rem] lg:text-[5.5rem] font-[600] tracking-wide  text-cyan-300 leading-[88%]
    }

    .title-h4-dark {
      @apply morganite-bold text-[2.5rem] lg:text-[4.7rem] leading-[88%] font-[900] uppercase  text-zinc-950
    }

    .title-h5 {
      @apply  font-inter text-zinc-50 text-[1rem] 2xl:text-[1.1rem] font-[400] uppercase tracking-wider 
    }

    .btn-title {
      @apply font-inter text-cyan-300 text-[.8rem] sm:text-[.8rem]  lg:text-[1rem] font-[400] leading-[18px] uppercase
    }

    .xsm-title {
      @apply morganite-bold text-[2.5rem] lg:text-[4rem] font-[500] uppercase  text-cyan-300 leading-[88%]

    }

    .sm-title {
      @apply morganite-bold text-[2.18rem] lg:text-[4.7rem] font-[400] uppercase tracking-wide  text-cyan-300 leading-[88%]
    }

    
  
    .med-title {
      @apply morganite-bold text-[8rem] sm:text-[10rem] leading-[70px] sm:leading-[90px]  text-violet-500

    }
    .reg-title {
      @apply morganite-bold text-[12rem] font-[600] leading-[130px]  text-violet-500

    }
    
    .big-title {
      @apply morganite-bold text-[7.8rem]  md:text-[9.15rem] 2xl:text-[22.2vw] font-[100] leading-[98px] 
        2xl:leading-[160px] tracking-[3px] uppercase 
        text-cyan-300

    }
    
   

}